.container{
  text-align: center;
  
}

h2{
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
}

#showPic{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #d4ece2;
  border-radius: 5px;

}

p{
  line-height: 1.5;
}

img{
  width: 50%;
}