
<div class="container">

    <!-- <div class="row" id="main">
        <h2>Search for Shows</h2>
        <p>Show Search Component Goes Here</p>
    </div> -->

<div class="row" id="">
    <h2> Show Details</h2>
    <div>
        <h3>{{show.Name}}</h3>
    </div>
    <hr/>
<div class="row">
    <p>Episodes:{{show.NumEpisodes}}
            <br/>
        Network:{{show.Network}}
        <br/>
        Language:{{show.Language}}
        <br />
        Rating: {{show.Rating}}
        <br />
        Duration: {{show.Time}}
            <br />
        {{show.AirDate}}, {{show.Status}}
    </p>
    </div> 

</div>

<div class="row" id="showPic">
    <img [src]="show.Image">
</div>

</div>

