<div class="container">

<div class="column">
    <div style="background-color: aquamarine;">
        <span style="text-transform: uppercase;"><h3>{{show.Name}}</h3></span>
    </div>
    <div style="background-color: beige;">
        Episodes: <span>{{show.NumEpisodes}}</span>
        <br />
        Network: <span>{{show.Network}}</span>
        <br />
        Language: <span> {{show.Language}}</span>
        <br />
        Rating: <span>{{show.Rating}}</span>
        <br/>
        Time: <span>{{show.Time}}</span>
        <br />
        <span>{{show.AirDate}}, {{show.Status}}</span>
    </div> 

</div>
<div class="column">
    <img [src]="show.Image">
</div>

</div>

